# Seu Token do GitHub, sem ele, não vai conseguir fazer pedidos sem atingir o limite.
GITHUB_TOKEN=<insert-token-here>
# A porta que deseja usar para abrir o servidor com devtrack serve.
PORT=3000
# O diretório onde deseja armazenar o conteúdo da base de dados.
DATA_DIR=./data
# Se o devtrack estará em modo Debug ou não
DEBUG=none
WEBHOOK_URL=<>